body {
    background-color: #ff6600;
    color: #ffffff;
    font-family: sans-serif;
}

a {
    color: #ff6600;
}

.navbar {
    background-color: #333333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
